google-cloud-aiplatform[adk,agent_engines]
google-api-python-client
google-cloud-bigquery
google-cloud-storage
google-cloud-secret-manager
google-genai
google-auth
python-dotenv
google-cloud-discoveryengine
requests
